@import "compass/css3";
@import "compass/typography/text/nowrap";
@import "compass/utilities/general/clearfix";
@import "breakpoint";

/*** BREAKPOINTS ***/
$break1: 480px;
$break2: 768px;

$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

/*** SIZES ***/
$page-max-width: 800px;
$page-min-width: 300px;
$header-height: 56px;
$block-padding-horizontal: 20px;

/*** FONTS ***/
$font-header: 'Raleway', sans-serif;
$font-body: 'Raleway', sans-serif;

/*** COLORS ***/
$color-gb-1: rgb(39,44,57); // dark blue
$color-gb-2: rgb(180,225,255); // light blue
$color-gb-3: rgb(237,150,56); // orange

$color-collection: ('positive', 'balanced', 'energized', 'assertive', 'royal', 'dark');
$color-positive: rgb(74,135,238);
$color-balanced: rgb(102,204,51);
$color-energized: rgb(240,184,64);
$color-assertive: rgb(239,78,58);
$color-royal: rgb(138,108,233);
$color-dark: rgb(68,68,68);

$color-header-background: $color-gb-1;
$color-header-text: white;

@import "utils";

/*** BOOTSTRAP OVERRIDES ***/

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

$font-size-base:          16px;

//** Global textual link color.
$link-color:            $color-gb-1;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);

//** Background color of modal content area
$modal-content-bg:                             $color-gb-2;
//** Modal content border color
$modal-content-border-color:                   $color-gb-1;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          $color-gb-1;

$modal-header-border-color:   $color-gb-1;


$pagination-color:                     $color-gb-2;
$pagination-bg:                        $color-gb-1;
$pagination-border:                    $color-gb-2;

$pagination-hover-color:               $color-gb-1;
$pagination-hover-bg:                  $color-gb-2;
$pagination-hover-border:              $color-gb-2;

$pagination-active-color:              $color-gb-1;
$pagination-active-bg:                 $color-gb-2;
$pagination-active-border:             $color-gb-2;

$pagination-disabled-color:            lighten($color-gb-1, 30);
$pagination-disabled-bg:               lighten($color-gb-1, 10);
$pagination-disabled-border:           $color-gb-2;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $color-gb-2;
$navbar-inverse-bg:                         $color-gb-1;
$navbar-inverse-border:                     transparent;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($color-gb-1, 60);
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             $color-gb-1;
$navbar-inverse-link-disabled-color:        darken($color-gb-2, 20);
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            lighten($color-gb-1, 20);
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        transparent;
