@import "compass/css3";

.hidden-xxs {
  @media (max-width: 380px) {
    display: none;
  }
}

.clearfix {
  @include clearfix;
}

@mixin break($breakpoint) {
  @include breakpoint($breakpoint) {
    @content;
  }
  .ie8 & {
    @content;
  }
}

@mixin break-mf($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

.mobile-only {
  @include break($break1) {
    display: none !important;
  }
}

.more {
  @include transition(max-height 0.3s ease-in-out);
  overflow-y: hidden;
  max-height: 999px;

  &.ng-hide-add, &.ng-hide-remove {
    display: block !important;
    max-height: 0;
    overflow-y: hidden;
  }

  &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add {
    max-height: 999px;
  }

  &.ng-hide-add.ng-hide-add-active {
    max-height: 0;
    overflow-y: hidden;
  }
}

/*** text utilities ***/

.text-danger {
  padding: 4px 6px;
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  color: $color-assertive;
}

.text-warning {
  padding: 4px 6px;
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  color: $color-energized;
}

/*** icon utilities ***/

.fa-danger {
  color: $color-assertive;
}

.fa-warning {
  color: $color-energized;
}
