@import "base";

.btn, .button, button {
  display: inline-block;
  padding: 10px 12px;
  font-size: 1.0em;
  border: none;
  outline: none !important;
  font-weight: 500;

  @include box-shadow(0 0 0 0);

  @include transition(color 0.15s ease-in-out,
                      background-color 0.15s ease-in-out);

  cursor: pointer;

  &.btn-dark {
    background-color: $color-gb-1;
    color: $color-gb-2;

    &:hover {
      background-color: lighten($color-gb-1, 8);
      color: white;
    }

    &.active {
      color: $color-gb-1;
      background-color: $color-gb-2 ;
    }

    &.muted {
      background-color: tint($color-gb-1, 30);
    }

    &.disabled {
      color: lighten($color-gb-1, 30);
    }
  }

  &.btn-inverse {
    color: $color-gb-1;
    background-color: $color-gb-2 ;

    &.active, &:hover {
      background-color: shade($color-gb-2, 10);
    }
  }
}

button {
  padding: 8px 12px;
  font-size: 0.9em !important;
}


.back-button {
  padding: 5px 0;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:before {
    font-family: 'Arial', sans-serif;
    content: "« ";
  }
}

.btn-group, .button-group {
  // display: inline-block;
  // margin: 12px auto;
  font-size: 1.1em;

  text-align: left;
  display: table;
  border-collapse: collapse;
  @include box-sizing(border-box);

  // border: 1px solid $color-gb-2;

  .btn, .button, button {
    display: table-cell;
    min-width: 100px !important; // reset
    border: 1px solid $color-gb-2;

    @include break-mf($break-xs) {
      display: table-row;

      & > span {
        height: 40px;
        line-height: 40px;
        display: table-cell;
      }
    }
  }

  @include break-mf($break-sm) {
    width: 100%;
    // .btn, .button, button {
    //   display: block;
    // }
  }

  .btn {
    min-width: 120px;
    text-align: center;

    // color: $color-gb-2;
    // background-color: lighten($color-gb-1, 10);

    // &.btn-inverse, &.active, &:hover {
    //   color: $color-gb-1;
    //   background-color: $color-gb-2 ;
    // }
  }
}


.button-container {
  .btn, button, .button {
    margin-bottom: 5px !important;
  }
}
