@import "_base";

form {
  margin: 10px auto;
}

input {
  @include box-sizing(border-box);
  padding: 7px 10px;
  border: 0px solid #e4e4e4;

  font-size: 1.0em;
  color: $color-gb-1;

  &:focus {
    outline: none;
  }

  + .help {
    display: inline-block;
    margin-left: 10px;
    opacity: 0.75;
    white-space: nowrap;
  }
}

label {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 10px 0 5px 2px;
}

.inline-set {
  input + label {
    display: inline;
    margin-left: 10px;
    margin-right: 20px;
  }
}

#login-form {

  input {
    display: block;
    width: 100%;
    max-width: 240px;
  }
}

select {
  display: block;
  padding: 7px 10px;

  @media (max-width: $break-md) {
    width: 100%;
  }

  @include border-radius(0);

  &:focus, &:active {
    outline: none;
  }

  min-width: 150px;

  background-image: url(../images/selector-caret-down.png);
  background-repeat: no-repeat;
  background-position: right 10px top 14px;

  // RESETS
  color: #333;
  font-weight: normal;
  font-size: 1em;
  line-height:1.2em;
  padding: 10px 7px; /* use this to set a specific height for your dropdown (DO NOT use the attribute 'height') */
  border: 0 none;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
  -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
  appearance: none;

  option {
    border: none;
  }
}

textarea {
  @include box-sizing(border-box);
  width: 100%;
  padding: 5px 7px;
  resize: none;
  border: none;

  color: $color-gb-1;

  &:focus {
    outline: none;
  }
}
