// @import "compass/reset";
@import "base";

@import "utils";

/*
 * Base styles
 */
html, body {
  height: 100%;
}

body {
  padding-top: 50px; // for nav

  min-height: 100%;
  min-width: $page-min-width;
  font-family: $font-body;
  background-color: $color-gb-1;
}

a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  line-height: 1.0em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 7px;
}

hr {
  margin: 20px auto;
  border: none;
  height: 1px;
  background-color: shade($color-gb-2, 15);

  &.light {
    background-color: tint($color-gb-1, 15);
  }
}

.block-content {
  margin-top: 10px;
  margin-bottom: 10px;
  @include break($break-sm) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.content-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*** TABS ***/

.tabs {
  background-color: lighten($color-gb-1, 20);
  padding: 0px;

  text-align: center;

  @include box-shadow(inset 0 -20px 20px -20px rgba(0,0,0,0.3));

  .tab {
    @include box-sizing(border-box);
    background-color: lighten($color-gb-1, 10);
    color: $color-gb-2;

    display: block;
    padding: 10px 20px;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-weight: 600;

    @include transition(background-color 0.2s ease-in-out);

    &.active, &:hover {
      cursor: pointer;
      color: $color-gb-1;
      background-color: $color-gb-2;
    }

    i.fa {
      margin-right: 5px;
      margin-left: -5px;
    }
  }

  border-bottom: 1px solid $color-gb-1;

  /* responsive */
  @include break($break-xs) {
    padding: inherit;
    padding-top: 7px;

    .tab {
      display: inline-block;
    }

    border-bottom: 0;
  }
}
/*** NAV ***/

.navbar {
  .logo {
    margin-top: -3px; // hack
  }
}

/*** MAP ***/

.map {
  width: 100%;
  height: 330px;
}

.info {
  font-size: 0.9em;
  text-align: center;
}

/*** GENERAL ***/

.title {
  font-weight: 800;
}

.help {
  font-size: 0.8em;
}

/*** BROWSE ANNOUNCEMENTS ***/

tr.announcement {
  height: 30px;
  line-height: 30px;
}

/*** ADD-CONFIRM ***/

#add-confirm {
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*** modals ***/

.modal-body {
  h3 {
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }
}
