@import "_base";

.discussions { // with users
  @include box-sizing(border-box);
  width: 100%;

  td, th {
    padding: 8px 10px;
  }
  th {
    padding-bottom: 5px;
  }

  th {
    font-weight: 700;
    font-size: 1.1em;
  }

  tr.discussion {

    border-bottom: 1px solid shade($color-gb-2, 15);
    &:first-of-type {
      border-top: 1px solid shade($color-gb-2, 15);
    }

    &:hover, &.active {
      background-color: rgb(60, 67, 87);
      color: white;
      cursor: pointer;

      .remove { display: block; }
    }
  }

  .remove { display: none; }
}

.messages {
  .message{

    &:not(:last-of-type) {
      padding: 10px 0;
      border-bottom: 1px solid lighten($color-gb-1, 15);
    }

    &:hover, &.active {
      background-color: shade($color-gb-2, 10);
      cursor: pointer;
    }

  }
}

.reply-area {
  margin-top: 20px;
}

table.discussions {
  margin-bottom: 20px;
}

.message {
  margin: 10px 0;

  .left {
    font-weight: bold;
  }
}
