@import "_base";

$box-width: 120px;

.gb-box-choice {
  @include box-sizing(border-box);
  display: inline-block;
  position: relative;

  width: $box-width;
  height: $box-width;
  margin: 0 10px 10px 0;

  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.1em;

  background-color: $color-gb-1;
  color: shade($color-gb-2, 20);

  @include transition(color 0.2s ease-in-out);
  cursor: pointer;
  &.active, &:hover {
    color: white;
  }

  .description-container {
    @include box-sizing(border-box);
    display: table;
    width: $box-width;
    position: absolute;
    bottom: 0px;
    height: 50px;
    padding: 20px;
  }

  .description {
    display: table-cell;
    width: $box-width;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
  }

  &.no-icon {
    width: auto;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 0 0;

    .description-container {
      width: auto;
      height: auto;
      display: block;
      position: relative;
      padding: 0;
    }

    .description {
      width: auto;
    }
  }

  // disable text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#add-options {
  .btn-group {
    margin-bottom: 30px;
  }
}
