@import "base";

.notification {
  // padding: 5px 0;
  text-align: center;
  color: $color-gb-2;
  font-weight: bold;

  &.alert-danger {
    background-color: $color-assertive;
    color: shade($color-assertive, 50);
  }

  &.alert-success {
    background-color: $color-balanced;
    color: shade($color-balanced, 50);
  }

  &.alert-warning {
    background-color: $color-energized;
    color: shade($color-energized, 50);
  }

  overflow: hidden;
  max-height: 100px;

  p {
    margin: 0 !important; // reset
    padding: 5px 0;
  }

  &.ng-enter, &.ng-leave {
    @include transition(all 0.5s ease-in-out);
  }

  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0px;
  }

  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 100px;
  }
}
