@import "_base";

.section {
  padding-top: 10px;
  padding-bottom: 10px;
  @include break($break-sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h1, h2, h3, h4 {
    &:first-of-type {
      margin-top: 0px; // clear top-margin
    }
  }

  color: $color-gb-1;

  &.style-1 {
    background-color: $color-gb-1;
    color: $color-gb-2;
  }

  &.style-2 {
    background-color: $color-gb-2;
  }

  &.style-3 {
    background-color: $color-gb-3;
  }

  .descriptor {
    height: 100%;
    vertical-align: middle;

    font-size: 1.6em;
    font-weight: 800;

    @include break($break-sm) {
      text-align: right;
    }

    h1,h2,h3,h4 { margin: 0 !important; }
  }

  .filter-name {
    @include break($break-sm) {
      text-align: right;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
    }

    font-weight: 600;
  }

  .button-group {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.section .center-container {
  text-align: center;
  margin: 15px auto;

  .pagination { margin: 0 !important; }
}

.filter-buttons {
  text-align: center;
}

/*** FILTERS ***/

.filters {
  .filter {
    margin-bottom: 10px;
  }
}

/*** RESULTS ***/

#result-table {
  @include box-sizing(border-box);
  width: 100%;
  color: white;

  margin: 25px 0;

  td {
    padding: 5px 8px;
  }

  tbody {
    .user, .skill {
      white-space: nowrap;
    }
  }

  thead {
    color: $color-gb-2;
    border-bottom: 2px solid lighten($color-gb-1, 15);
  }

  tbody tr {
    // @include transition(all 0.2s ease-in-out);
    &:not(:last-of-type) {
      border-bottom: 1px solid lighten($color-gb-1, 15);
    }
    &:hover, &.active {
      background-color: lighten($color-gb-1, 15);
      cursor: pointer;
    }
  }

  thead td {
    font-weight: 700;
  }

  tbody .gender-preference {
    font-size: 1.20em;

    .male, .female {
      text-align: center;
      display: inline-block;
      color: $color-gb-1;
      height: 28px;
      width: 28px;
      line-height: 28px;
      @include border-radius(14px);
    }

    .female {
      background-color: rgb(220,130,130);
    }
    .male {
      background-color: rgb(130,160,220);
    }
  }
}

.no-results {
  margin-top: 20px;
  text-align: center;
}

/*** ANNOUNCEMENT ***/

#announcement {

  td {
    padding: 4px 7px;
  }

  tr td:first-of-type {
    font-weight: 700;
  }
  tr td:last-of-type {
  }

  .description {
    margin: 15px 0 25px 0;
  }

  .question {
    margin: 10px 0;

    .user {
      font-weight: 600;
    }
  }
}
