@import "base";

.setting {
  margin-top: 10px;
  margin-bottom: 10px;

  .title {
    height: 100% !important;

    span {
      vertical-align: middle;
    }
  }

  div[class*="col"] {
    min-height: 36px;
  }
}