<div class="section block style-2">
  <div class="block-content container">
    <h2 class="modal-title">Announcement by {{announcement.creator.username}}
      <span ng-if="announcement.creator.id === user.id"> (you)</span>
    </h2>
    <strong>added:</strong> {{announcement.created | date:'dd.MM.yy hh:mm'}}
    <hr>
    <div ng-include="'templates/partials/announcement_view.html'"></div>
    <hr>
    <button class="btn btn-dark" ng-click="message()" ng-if="announcement.creator.id !== user.id">
      <i class="fa fa-envelope"></i> Message
    </button>
  </div>
</div>
