<div id="login" class="container">
  <div class="row">
    <div class="col-sm-4 descriptor">
      <h2>Login</h2>
    </div>
    <div class="col-sm-8">
      <form id="login-form">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" ng-model="user.username" required>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" ng-model="user.password" required>
        <br>
        <button type="submit"
                ng-disabled="!user.username || !user.password"
                class="btn btn-dark"
                ng-click="login(user)"><i class="fa fa-unlock-alt"></i> Login</button>
        <div back-button>back</div>
      </form>
    </div>
  </div>
</div>
