<nav id="tab-bar" class="block tabs">
  <a class="tab" ui-sref="master.content.browse" ng-class="{active: isActive('master.content.browse')}">
    <i class="fa fa-bars"></i> Browse
  </a>
  <a class="tab" ui-sref="master.content.add" ng-class="{active: isActive('master.content.add')}">
    <i class="fa fa-plus"></i> Add
  </a>
</nav>

<div id="main-content">
  <div ui-view></div>
</div>
