<section class="section block style-2">
  <div class="block-content container">
    <div class="row">
      <div class="descriptor col-sm-4"><h2>Filters</h2></div>
      <div class="filters col-sm-8">
        <div class="filter row">
          <div class="filter-name col-sm-4">Activity type:</div>
          <div class="col-sm-4">
            <select ng-model="filter.activity_type"
                    ng-options="filter.id as filter.name for filter in activityTypes">
              <option value="">any</option>
            </select>
          </div>
        </div>
        <div class="filter row">
          <div class="filter-name col-sm-4">Gender:</div>
          <div class="col-sm-4">
            <select ng-init="filter.gender_preference = genderTypes.0.value"
                    ng-model="filter.gender_preference"
                    ng-options="filter.value as filter.name for filter in genderTypes">
            </select>
          </div>
        </div>
        <div class="filter row">
          <div class="filter-name col-sm-4">Skill-level:</div>
          <div class="col-sm-4">
            <select ng-model="filter.skill_level"
                    ng-options="filter.value as filter.name for filter in skillChoices">
              <option value="">any</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="results" class="section block style-1">
  <div class="block-content container">
    <div class="filter-buttons" ng-init="show.list=true;show.map=false">
      <div class="btn-group center-container">
        <div class="btn btn-dark" ng-class="{active: show.list}" ng-click="show.list=true;show.map=false">
          <span><i class="fa fa-list"></i> List</span></div><div
          class="btn btn-dark" ng-click="show.list=false;show.map=true;resize();" ng-class="{active: show.map}">
          <span><i class="fa fa-map-marker"></i> Map</span></div>
      </div>
    </div>

    <div class="map" ng-show="show.map">
      <div gb-map
           resize="resize"
           markers="markers"
           open-marker="selectAnnouncement"
           geo-location="geoLocation"></div>
    </div>
    <div class="info" ng-show="show.map">
      <p>Note: the map only shows announcements that has coordinates set.</p>
    </div>

    <div ng-show="show.list" style="overflow-x: hidden;">
      <table id="result-table">
        <thead>
          <tr>
            <td class="activity" ng-click="sort('activity')">Activity
              <span ng-if="order.property == 'activity'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="gender-preference" ng-click="sort('gender_preference')">Gender
              <span ng-if="order.property == 'gender_preference'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="skill" ng-click="sort('skill_level')">Skill-level
              <span ng-if="order.property == 'skill_level'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="user hidden-xs" ng-click="sort('creator.username')">Created by
              <span ng-if="order.property == 'creator.username'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="location hidden-xxs" ng-click="sort('location')">Location
              <span ng-if="order.property == 'location'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="created hidden-xs" ng-click="sort('created')">Date added
              <span ng-if="order.property == 'created'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="announcement in filteredAnnouncements = (announcements | orderBy:order.property:order.reverse | filter:search)"
              ng-click="selectAnnouncement(announcement.id)"
              ng-class="{active: announcement==activeAnnouncement}"
              class="announcement">
            <td class="activity" ng-bind="announcement.activity"></td>
            <td class="gender-preference">
              <span class="male" ng-if="announcement.gender_preference=='m'"><i class="fa fa-male"></i></span>
              <span class="female" ng-if="announcement.gender_preference=='f'"><i class="fa fa-female"></i></span>
            </td>
            <td class="skill">
              <span ng-bind="announcement.skill_level.name"></span>
            </td>
            <td class="user hidden-xs"><i class="fa fa-user"></i> {{announcement.creator.username}}</td>
            <td class="location hidden-xxs" ng-bind="announcement.location.name"></td>
            <td class="created hidden-xs" ng-bind="announcement.created | date:'dd.MM.yy H:mm'"></td>
          </tr>
        </tbody>
      </table>

      <div class="center-container">
        <pagination total-items="announcementsCount"
                    ng-model="currentPage"
                    items-per-page="objects_per_page"
                    ng-change="getAnnouncements()"></pagination>
      </div>

    </div>
    <div id="no-results" class="no-results" ng-show="filteredAnnouncements.length == 0">No matching results.</div>
  </div>
</section>
