<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="images/GameBuddy_logo.svg" class="logo" height="30" alt="GameBuddy" class="svg-true">
    </a>
  </div>
  <div class="collapse navbar-collapse bs-js-navbar-collapse" collapse="isCollapsed">
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
      <li ng-class="{active: isActive('master.content')}">
        <a ui-sref="master.content.browse"><i class="fa fa-bars"></i> Announcements</a>
      </li>
      <li ng-class="{active: isActive('master.profile')}" ng-if="user">
        <a ui-sref="master.profile.settings"> <i class="fa fa-user"></i> {{user.username}}</a>
      </li>
      <li ng-if="user">
        <a href="#" ng-click="logout()"><i class="fa fa-lock"></i> Logout</a>
      </li>
      <li ng-class="{active: isActive('register')}" ng-if="!user">
        <a ui-sref="master.auth.register"><i class="fa fa-plus"></i> Register</a>
      </li>
      <li ng-class="{active: isActive('login')}" ng-if="!user">
        <a ui-sref="master.auth.login"><i class="fa fa-unlock-alt"></i> Login</a>
      </li>
    </ul>
  </div>
</div>

<div notifications></div>

<div ui-view></div>
