<div class="modal-header">
  <h3 class="modal-title">Confirm your new announcement</h3>
</div>
<div class="modal-body" id="add-confirm">
  <p>You are about to add a new announcement with the following information:</p>

  <div class="row">
    <div class="col-sm-4 title">Activity type</div>
    <div class="col-sm-8" ng-bind="announcement.activity_type.name"></div>
  </div>

  <div class="row">
    <div class="col-sm-4 title">Gender preference</div>
    <div class="col-sm-8" ng-bind="announcement.gender_preference.name"></div>
  </div>

  <div class="row">
    <div class="col-sm-4 title">Location</div>
    <div class="col-sm-8" ng-bind="announcement.location"></div>
  </div>

  <div class="row">
    <div class="col-sm-4 title">Skill</div>
    <div class="col-sm-8" ng-bind="announcement.skill.name"></div>
  </div>

  <div class="row">
    <div class="col-sm-4 title">Activity</div>
    <div class="col-sm-8" ng-bind="announcement.other ? announcement.other : announcement.activity.name"></div>
  </div>

  <div class="row">
    <div class="col-sm-4 title">Description</div>
    <div class="col-sm-8">
      <span ng-show="!announcement.description" class="text-warning">
        <i class="fa fa-exclamation-triangle"></i> no description
      </span>
      {{announcement.description}}
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-dark" ng-click="submit()"><i class="fa fa-check"></i> Submit</button>
  <button class="btn btn-dark" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
</div>
