<section class="section block style-2">
  <div class="block-content container">
    <h2>My announcements</h2>

    <div ng-if="!announcements.length>0">
      <p>You haven't created any announcements yet.</p>
    </div>
  </div>
</section>

<section class="section block style-1">
  <div class="block-content container">
    <div ng-if="announcements.length>0">
      <table id="result-table">
        <thead>
          <tr>
            <td class="activity" ng-click="sort('activity')">Activity
              <span ng-if="order.property == 'activity'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="gender-preference hidden-xs" ng-click="sort('gender_preference')">Gender
              <span ng-if="order.property == 'gender_preference'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="skill" ng-click="sort('skill_level')">Skill-level
              <span ng-if="order.property == 'skill_level'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="location" ng-click="sort('location')">Location
              <span ng-if="order.property == 'location'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <td class="created" ng-click="sort('created')">Date added
              <span ng-if="order.property == 'created'">
                <i ng-if="order.reverse" class="fa fa-caret-up"></i>
                <i ng-if="!order.reverse" class="fa fa-caret-down"></i>
              </span>
            </td>
            <!-- <td class="created hidden-xs">Remove</td> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="announcement in filteredAnnouncements = (announcements | orderBy:order.property:order.reverse | filter:search)"
              ng-click="selectAnnouncement(announcement.id)"
              ng-class="{active: announcement==activeAnnouncement}"
              class="announcement">
            <td class="activity" ng-bind="announcement.activity"></td>
            <td class="gender-preference hidden-xs">
              <span class="male" ng-if="announcement.gender_preference=='m'"><i class="fa fa-male"></i></span>
              <span class="female" ng-if="announcement.gender_preference=='f'"><i class="fa fa-female"></i></span>
            </td>
            <td class="skill">
              <span ng-bind="announcement.skill_level.name"></span>
            </td>
            <td class="location" ng-bind="announcement.location.name"></td>
            <td class="created" ng-bind="announcement.created | date:'dd.MM.yy H:mm'"></td>
            <td ng-click="delete(announcement)"><i class="fa fa-times fa-danger"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
