<section id="discussions" class="section block style-2">
  <div class="block-content container" style="max-width: 720px;">

    <h2>Conversations</h2>

    <div ng-if="!discussions">
      <div loader load-if="loading"></div>
    </div>

    <div ng-if="!discussions.length > 0 && !loading">
      <p>You haven't started any discussions yet.</p>
    </div>

    <table class="discussions" ng-if="discussions.length > 0">
      <thead>
        <tr>
          <th>User</th>
          <th>Latest message</th>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="discussion in discussions"
            class="discussion"
            ng-click="open(discussion)"
            ng-class="{active: (activeDiscussion === discussion)}">
          <td>
            <i class="fa fa-user"></i> {{notMe(discussion).username}}
          </td>
          <td><span ng-if="discussion.messages.slice(-1)[0]">{{discussion.messages.slice(-1)[0].created | date:'dd.MM.yy H:mm'}}</span> <span ng-if="discussion.new_messages">NEW* </span></td>
          <td>
            <div class="pull-right remove" ng-click="remove(discussion)">
              <i class="fa fa-times fa-danger"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="discussion" ng-if="activeDiscussion.user2">
      <h3>Discussion with {{notMe(activeDiscussion).username}}</h3>
      <div class="message"
           ng-repeat="message in activeDiscussion.messages | orderBy:'created'">
        <div class="left">
          {{message.created | date:'dd.MM.yy H:mm'}}, <i class="fa fa-user"></i> {{message.sender.username}}:
        </div>
        <div class="right">
         {{message.content}}
        </div>
      </div>

      <div class="reply-area">
        <textarea rows="3" ng-model="newMessage.content"></textarea>
        <button class="btn btn-dark" ng-click="send()" ng-disabled="!newMessage.content">
          <i class="fa fa-mail-reply"></i> Send
        </button>
      </div>
    </div>

  </div>
</section>
