<nav id="tab-bar" class="block tabs">
  <a class="tab" ui-sref="master.profile.settings" ng-class="{active: isActive('master.profile.settings')}">
    <i class="fa fa-gear"></i> Settings
  </a>
  <a class="tab" ui-sref="master.profile.messages" ng-class="{active: isActive('master.profile.messages') || isActive('master.profile.messages_new')}">
    <i class="fa fa-envelope"></i>Messages
  </a>
  <a class="tab" ui-sref="master.profile.announcements" ng-class="{active: isActive('master.profile.announcements')}">
    <i class="fa fa-bars"></i> My announcements
  </a>
</nav>

<div id="main-content">
  <div ui-view></div>
</div>
