<div class="gb-box-choice"
     ng-class='{active: choice.active, "no-icon": icon === false}'>
  <div class="description-container">
    <span class="description" ng-transclude></span>
  </div>
</div>
