<div class="gb-selector" ng-init="more=false">
  <div ng-click="more=!more">
    <div class="activeChoice" ng-bind="activeChoice.name"></div>
    <div class="caret">
      <i class="fa fa-caret-up" title="hide" ng-show="more"></i>
      <i class="fa fa-caret-down" title="show more" ng-show="!more"></i>
    </div>
  </div>
  <div class="more" ng-show="more">
    <ul class="choices">
      <li class="choice"
          ng-repeat="choice in choices"
          ng-bind="choice.name"
          ng-click="selectChoice(choice)"></li>
    </ul>
  </div>
</div>
