<div ng-repeat="notification in notifications"
     class="notification alert"
     ng-class="{'alert-warning': notification.type==='warning',
                'alert-danger': notification.type==='error',
                'alert-success': notification.type==='success',
                'alert-info': notification.type==='info'}">
  <p ng-bind-html="notification.content"></p>
</div>
