<div class="setting row" ng-init="edit=false">
  <div class="col-sm-4 title">
    <span ng-bind="title"></span>
  </div>

  <div class="col-sm-8">
    <span ng-bind="content" class="content" ng-hide="edit"></span>
    <i class="fa fa-pencil" ng-click="editMode()" ng-hide="edit" ng-if="editable"></i>

    <input ng-model="tempObject" ng-show="edit" type="{{type ? type : 'text'}}">
    <button class="btn-dark" ng-show="edit" ng-click="save()" ng-class="{disabled: (content==tempObject)}" ng-disabled="content == tempObject"><i class="fa fa-check"></i> save</button>
    <button class="btn-dark" ng-show="edit" ng-click="cancel()" ng-show="tempObject"><i class="fa fa-times"></i> cancel</button>
  </div>
</div>
